<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chargement des jeux...</title>
  <link rel="stylesheet" href="./real-time-data.css" />
</head>

<body>
  <div class="logo-group">
    <img src="../../assets/senscritique.png" alt="SC" class="logo" />
    <span class="logo-separator">↔</span>
    <img src="../../assets/backloggd.png" alt="Backloggd" class="logo" />
  </div>

  <h2>Initialization of your SensCritique game ratings...</h2>
  <div id="console"></div>

  <script src="./real-time-data.js"></script>
</body>

</html>
